name: Publish
on:
  workflow_dispatch:
  #push:
jobs:
  scope:
    name: Define Scope
    runs-on: ubuntu-22.04
    permissions: { }
    steps:
      - uses: haya14busa/action-cond@v1
        id: scope
        with:
          cond: ${{ github.event_name == 'workflow_dispatch' }}
          if_true: all
          if_false: changed
    outputs:
      scope: ${{ steps.scope.outputs.value }}
  documents:
    name: Collect Documents
    runs-on: ubuntu-22.04
    needs: scope
    defaults:
      run:
        working-directory: .
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Collect Documents
        id: documents
        #run: .github/collect-documents.sh ${{ needs.scope.outputs.scope }} >>$GITHUB_OUTPUT
        run: 'echo "documents={\"document\": [\"fop\"]}" >>$GITHUB_OUTPUT'
  build:
    name: Build Document
    runs-on: ubuntu-22.04
    needs: documents
    defaults:
      run:
        working-directory: .
    strategy:
      matrix: ${{ fromJSON(needs.documents.outputs.documents) }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Graphviz, Imagamagick and Spin
        run: |
          sudo apt update
          sudo apt install -y graphviz spin imagemagick ghostscript
      - name: Change ImageMagick security policy
        run: |
          DQT='"'
          SRC="rights=${DQT}none${DQT} pattern=${DQT}PDF${DQT}"
          RPL="rights=${DQT}read\|write${DQT} pattern=${DQT}PDF${DQT}"
          sudo sed -i "s/$SRC/$RPL/" /etc/ImageMagick-6/policy.xml
      - name: Install TeXLive
        run: sudo apt install -y texlive-base texlive-fonts-extra texlive-humanities texlive-lang-cyrillic texlive-lang-english texlive-lang-german texlive-latex-extra texlive-latex-recommended texlive-latex-recommended texlive-luatex texlive-pictures texlive-plain-generic texlive-publishers texlive-science
      - name: install additional latex-packages
        run: |
          mkdir -p setup/latex/darkmode-latex-package
          git clone https://github.com/Rdeisenroth/darkmode-latex-package.git setup/latex/darkmode-latex-package
          cd setup/latex/darkmode-latex-package
          l3build install
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python Dependencies
        run: "pip install -f https://download.pytorch.org/whl/torch_stable.html -r sys/requirements.txt"
      - name: Build Document
        run: .github/build-document.sh ${{ matrix.document }}
#  publish:
#    name: Publish Documents
#    runs-on: ubuntu-22.04
#    steps:
#      - name: Publish Documents
#        run: ".github/publish-documents.sh"
#        env:
#          gh_user: ${{ secrets.PUBLISH_GH_USER }}
#          gh_token: ${{ secrets.PUBLISH_GH_TOKEN }}
